**/INCRMA_raw_data/*
**/Routine_acq_raw_data/*
**/Routine_acq_raw_data_8x8/*
**7MIC_raw_data/large_file/*
!**/Routine_acq_raw_data_8x8/8x8_data_calibration/
!**/Routine_acq_raw_data_8x8/8x8_data_calibration/**